{% extends 'view_template.html' %}

{% block header %}
    <title>Login Page</title>
{% endblock %}

{% block content %}

<style>

h1 {
    height: 50px;
    background: linear-gradient(to bottom right, grey, white);
    text-decoration: underline;
    text-color: black;
}
body {
    background-color: lightgrey;
}

</style>

<div class="container">
    <h1>Welcome</h1>
   <p>
       write your login here!
    </p>
    {% if anon_error %}
    <div>
        {{ anon_error }}
    </div>
    {% endif %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}