{% extends 'view_template.html' %}

{% block header %}
<title>Login Page</title>
{% endblock %}

{% block content %}

<style>

h1 {
    height: 50px;
    background: linear-gradient(to bottom right, grey, white);
    text-decoration: underline;
    text-color: black;
}
body {
    background-color: lightgrey;
    background-image: url(/static/images/logo.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;

    height: 100%;
}
#bgnd {
    background-image: url(/static/images/logo.png);
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
    height: 100%;
}

</style>

<div class="container">
    <div id="bgnd"></div>
    <h1>Welcome</h1>
    {% if anon_error %}
    <div>
        <p>
            {{ anon_error }}
        </p>
    </div>
    {% endif %}
    <h2>Login</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Login</button>
    </form>
</div>
{% endblock %}